Автор материала: Зраев Артем.

Можно использовать в каких угодно целях.

<b> В задании нужно загрузить датасет с данными оттока и ответить на несколько вопросов (написать код). При этом сам датасет уже есть и его необязательно качать с репозитория</b>

Цель задания: проверить базовые навыки работы студентов с Pandas, умение проводить такой же базовый EDA (exploratory data analysis), делать feature engineering и обучать и валидировать модель.

Список столбцов с типами данных в датасете:

- customerID           object
- gender               object
- SeniorCitizen         int64
- Partner              object
- Dependents           object
- tenure                int64
- PhoneService         object
- MultipleLines        object
- InternetService      object
- OnlineSecurity       object
- OnlineBackup         object
- DeviceProtection     object
- TechSupport          object
- StreamingTV          object
- StreamingMovies      object
- Contract             object
- PaperlessBilling     object
- PaymentMethod        object
- MonthlyCharges      float64
- TotalCharges         object
- Churn                object

Данные лежат на google диске по [ссылке](https://drive.google.com/file/d/1g8lsZO25O2SxuCrIYVSDV3eLqmfC-TCZ/view?usp=sharing).

In [33]:
!wget 'https://drive.google.com/uc?export=download&id=1g8lsZO25O2SxuCrIYVSDV3eLqmfC-TCZ' -O WA_Fn-UseC_-Telco-Customer-Churn.csv

--2022-03-24 19:53:48--  https://drive.google.com/uc?export=download&id=1g8lsZO25O2SxuCrIYVSDV3eLqmfC-TCZ
Resolving drive.google.com (drive.google.com)... 142.250.157.101, 142.250.157.139, 142.250.157.102, ...
Connecting to drive.google.com (drive.google.com)|142.250.157.101|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-08-c0-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/ncrs67meliav7sd86edo1p54b7fhkl7c/1648151625000/14904333240138417226/*/1g8lsZO25O2SxuCrIYVSDV3eLqmfC-TCZ?e=download [following]
Warning: wildcards not supported in HTTP.
--2022-03-24 19:53:49--  https://doc-08-c0-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/ncrs67meliav7sd86edo1p54b7fhkl7c/1648151625000/14904333240138417226/*/1g8lsZO25O2SxuCrIYVSDV3eLqmfC-TCZ?e=download
Resolving doc-08-c0-docs.googleusercontent.com (doc-08-c0-docs.googleusercontent.com)... 64.233.188.132, 2404:6800:4008:c06::84
Connecting to doc-08-c0-docs.googleusercontent.com (doc-08-c0-docs.googleusercontent.com)|64.233.188.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 977501 (955K) [text/csv]
Saving to: ‘WA_Fn-UseC_-Telco-Customer-Churn.csv’

WA_Fn-UseC_-Telco-C 100%[===================>] 954.59K  --.-KB/s    in 0.007s

2022-03-24 19:53:49 (139 MB/s) - ‘WA_Fn-UseC_-Telco-Customer-Churn.csv’ saved [977501/977501]

In [34]:
import pandas as pd
import numpy as np

df = pd.read_csv("./WA_Fn-UseC_-Telco-Customer-Churn.csv")
df.head(5)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

##### 1. Какое соотношение мужчин и женщин в представленном наборе данных?

In [35]:
df['gender'].value_counts()

Male      3555
Female    3488
Name: gender, dtype: int64

##### 2. Какое количество уникальных значений у поля InternetService?

In [36]:
print(df['InternetService'].unique())
len(df['InternetService'].unique())

['DSL' 'Fiber optic' 'No']

3

##### 3. Выведите статистики по полю TotalCharges (median, mean, std).

In [37]:
print(type(df['TotalCharges']))
a = pd.to_numeric(df['TotalCharges'], errors='coerce')

<class 'pandas.core.series.Series'>

Так как в нужном столбце данные имеют тип Series, преобразуем их в числовые значения. После этого найдем median, mean, std.

In [38]:
print('Среднее значение: ', np.mean(a))
print('Медиана: ', np.median(a))
print('Среднеквадратическое отклонение: ', np.std(a))

Среднее значение:  2283.3004408418697
Медиана:  nan
Среднеквадратическое отклонение:  2266.6101807145355

Медиана не рассчиталась, так как в данных есть пропуски.

##### 4. Сделайте замену значений поля PhoneService  на числовые (Yes->1, No->0)

In [39]:
df.loc[df['PhoneService'] == 'Yes', 'PhoneService'] = 1
df.loc[df['PhoneService'] == 'No', 'PhoneService'] = 0

##### 5. Сделайте замену пробелов в поле TotalCharges на np.nan и приведите поле к типу данных float32. Затем заполните оставшиеся пропуски значением 0 с помощью метода fillna у столбца. Снова выведите статистики и сравните с тем, что вы видели в вопросе 3

In [40]:
df.loc[df['TotalCharges'] == ' ', 'TotalCharges'] = np.nan

In [41]:
df['TotalCharges'] = df['TotalCharges'].astype('float32')

In [42]:
df['TotalCharges'] = df['TotalCharges'].fillna(0)

In [43]:
print('Среднее значение: ', df['TotalCharges'].mean())
print('Медиана: ', df['TotalCharges'].median())
print('Среднеквадратическое отклонение: ', df['TotalCharges'].std())

Среднее значение:  2279.732177734375
Медиана:  1394.550048828125
Среднеквадратическое отклонение:  2266.79443359375

На этот раз медиана рассчиталась, так как были заполнены пропуски. Остальные значения незначительно скорректировались.

##### 6. Сделайте замену значений поля Churn на числовые (Yes -> 1, No - 0)

In [44]:
df.loc[df['Churn'] == 'Yes', 'Churn'] = 1
df.loc[df['Churn'] == 'No', 'Churn'] = 0

##### 7. Сделайте замену значений полей StreamingMovies, StreamingTV, TechSupport  на числовые (Yes -> 1, No -> 0, No internet service->0)

In [45]:
df.loc[df['StreamingMovies'] == 'Yes', 'StreamingMovies'] = 1
df.loc[df['StreamingMovies'] == 'No', 'StreamingMovies'] = 0
df.loc[df['StreamingMovies'] == 'No internet service', 'StreamingMovies'] = 0

In [46]:
df.loc[df['StreamingTV'] == 'Yes', 'StreamingTV'] = 1
df.loc[df['StreamingTV'] == 'No', 'StreamingTV'] = 0
df.loc[df['StreamingTV'] == 'No internet service', 'StreamingTV'] = 0

In [47]:
df.loc[df['TechSupport'] == 'Yes', 'TechSupport'] = 1
df.loc[df['TechSupport'] == 'No', 'TechSupport'] = 0
df.loc[df['TechSupport'] == 'No internet service', 'TechSupport'] = 0

##### 8. Заполните пропуски в поле PhoneService значением 0

In [48]:
df.loc[df['PhoneService'].isnull(), 'PhoneService'] = 0

##### 8. Для нашего датасета оставьте только указанный ниже список полей, удалив все другие и выведите верхние 3 строки

In [49]:
columns = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 
           'StreamingMovies', 'StreamingTV', 'TechSupport', 'Churn']
df = df[columns]
df.head(3)

,gender,tenure,PhoneService,TotalCharges,StreamingMovies,StreamingTV,TechSupport,Churn
0,Female,1,0,29.850000,0,0,0,0
1,Male,34,1,1889.500000,0,0,0,0
2,Male,2,1,108.150002,0,0,0,1

In [64]:
#Приведем целевую перемееную к целому типу, т.к. данные в этом столбце сейчас имеют тип object 
df['Churn'] = df['Churn'].astype('int')

##### 9. Разделите датасет на тренировочную и тестовую выборку.

In [65]:
features = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 'StreamingMovies', 'StreamingTV', 'TechSupport']
target = 'Churn'
from sklearn.model_selection import train_test_split
X = df[features]
y = df[target]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
y_train.astype('int')
y_test.astype('int')

185     1
2715    0
3825    0
1807    1
132     0
       ..
5522    1
6377    1
5500    0
2392    0
6705    0
Name: Churn, Length: 2113, dtype: int64

##### 10. соберите pipeline для поля gender (нужно разобраться и изучить https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html ) из классов ColumnSelector и OHEEncoder, которые уже написаны ниже заранее

In [66]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline

class ColumnSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[self.key]
    
class NumberSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    Use on numeric columns in the data
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[[self.key]]
    
class OHEEncoder(BaseEstimator, TransformerMixin):
    def __init__(self, key):
        self.key = key
        self.columns = []

    def fit(self, X, y=None):
        self.columns = [col for col in pd.get_dummies(X, prefix=self.key).columns]
        return self

    def transform(self, X):
        X = pd.get_dummies(X, prefix=self.key)
        test_columns = [col for col in X.columns]
        for col_ in test_columns:
            if col_ not in self.columns:
                X[col_] = 0
        return X[self.columns]

steps = [('Cselector', ColumnSelector(key='gender')), ('Encoder', OHEEncoder(key='gender'))]
gender = Pipeline(steps, verbose=True)

##### 11. Вызовите метод fit_transform у пайплайна gender и передайте туда нашу тренировочную выборку (пример по ссылке из документации https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html#sklearn.pipeline.Pipeline.fit)

In [67]:
gender.fit_transform(X_train, y_train)

[Pipeline] ......... (step 1 of 2) Processing Cselector, total=   0.0s
[Pipeline] ........... (step 2 of 2) Processing Encoder, total=   0.0s

      gender_Female  gender_Male
1695              0            1
1095              0            1
3889              0            1
3667              1            0
2902              1            0
...             ...          ...
3772              0            1
5191              1            0
5226              0            1
5390              0            1
860               0            1

[4930 rows x 2 columns]

##### 12. Здесь код писать уже не нужно (все сделано за вас). К полю tenure применяем StandardScaler (нормируем и центрируем). Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html
Вопрос - в каких случаях это может быть полезно?

In [68]:
from sklearn.preprocessing import StandardScaler

tenure =  Pipeline([
                ('selector', NumberSelector(key='tenure')),
                ('standard', StandardScaler())
            ])

Это может быть полезно, если у признаков разный масштаб, чтобы не было переобучения.

##### 13. Напишите аналогичный (как для tenure) преобразователь поля TotalCharges

In [69]:
TotalCharges =  Pipeline([
                ('selector', NumberSelector(key='TotalCharges')),
                ('standard', StandardScaler())
            ])

Объединение всех "кубиков" очень легко сделать таким образом

In [70]:
from sklearn.pipeline import FeatureUnion

number_features = Pipeline([
                ('selector', ColumnSelector(key=['PhoneService',
                                                 'StreamingMovies', 'StreamingTV', 
                                                 'TechSupport']))
            ])

In [71]:
feats = FeatureUnion([('tenure', tenure),
                      ('TotalCharges', TotalCharges),
                      ('continuos_features', number_features),
                      ('gender', gender)])
feature_processing = Pipeline([('feats', feats)])

На этом этапе что мы сделали:
1. написали преобразователь поля gender, который делает OHE кодирование
2. написали преобразователь для поля tenure, который нормирует и центрирует его 
3. повторили п. 2 для поля TotalCharges
3. для всех остальных просто взяли признаки как они есть, без изменений

У нас уже готов наш пайплайн, который преобразовывает признаки. Давайте обучим модель поверх него. В качестве модели возьмем RandomForestClassifier

In [73]:
from sklearn.ensemble import RandomForestClassifier

pipeline = Pipeline([
    ('features', feats),
    ('classifier', RandomForestClassifier(random_state=42)),
])

pipeline.fit(X_train, y_train)

[Pipeline] ......... (step 1 of 2) Processing Cselector, total=   0.0s
[Pipeline] ........... (step 2 of 2) Processing Encoder, total=   0.0s

Pipeline(steps=[('features',
                 FeatureUnion(transformer_list=[('tenure',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='tenure')),
                                                                 ('standard',
                                                                  StandardScaler())])),
                                                ('TotalCharges',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='TotalCharges')),
                                                                 ('standard',
                                                                  StandardScaler())])),
                                                ('continuos_features',
                                                 Pipeline(steps=[('selector',
                                                                  ColumnSelector(key=['PhoneService',
                                                                                      'StreamingMovies',
                                                                                      'StreamingTV',
                                                                                      'TechSupport']))])),
                                                ('gender',
                                                 Pipeline(steps=[('Cselector',
                                                                  ColumnSelector(key='gender')),
                                                                 ('Encoder',
                                                                  OHEEncoder(key='gender'))],
                                                          verbose=True))])),
                ('classifier', RandomForestClassifier(random_state=42))])

##### 14. Сделайте прогноз вероятности оттока для X_test с помощью нашего предобученного на предыдущем шаге пайплайна и убедитесь что вам возвращаются вероятности для 2 классов

In [76]:
y_pred = pipeline.predict(X_test)
y_pred

array([1, 0, 0, ..., 0, 1, 0])

Классификатор возвращает массив из нулей и единиц, то есть метки класса.

##### 15. Посчитайте метрики качества получившейся модели (roc_auc)

In [77]:
from sklearn.metrics import roc_auc_score

roc_auc_score(y_test, y_pred)

0.6742448940780135

### Сохраним наш пайплайн

In [78]:
import dill
with open("model_RF.dill", "wb") as f:
    dill.dump(pipeline, f)